.values {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
  margin-bottom: 95px;
}
.card {
  width: 270px;
  &__bg {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icons {
    width: 70px;
    height: 70px;
  }
  &__subtitles {
    font-family: 'Roboto', sans-serif;
    color: $text-black;
    font-weight: 700;
    font-size: 14px;
  }
  &__paragraph {
    font-family: 'Roboto', sans-serif;
    color: $text-grey;
    font-weight: 400;
    font-size: 14px;
  }
}
